


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Exo 2", sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
nav ul{
    display: flex;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 80%;
    margin: 0 auto;
}
.nav-content h1{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
}
.nav-container{
    background-color: rgba(48, 48, 49, 0.829); 
}
.nav-child{
    background-color: rgba(19, 19, 19, 0.769);
    padding: 10px 25px;
    border-radius: 25px;
}
.header-content{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.079);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(39, 39, 39, 0.137);
}
.header-img{
    width: 100%;
    border-radius: 20px;
}
.header{
    width: 80%;
}
.banner-child{
    width: 45%;
}
.button{
    padding: 10px;
    margin: 20px 15px 0 0;
    background: transparent;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(30, 29, 29, 0.406);

    border: 1px solid black;
    cursor: pointer;
}