


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Exo 2", sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
nav ul{
    display: flex;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 80%;
    margin: 0 auto;
}
.icone{
    display: none;
}
.nav-content h1{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
}
.nav-container{
    background-color: rgba(48, 48, 49, 0.829); 
}
.nav-child{
    background-color: rgba(19, 19, 19, 0.769);
    padding: 10px 25px;
    border-radius: 25px;
}
.header-content{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.079);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    position: relative;
}
.header-img{
    width: 100%;
    border-radius: 20px;
}
.header{
    width: 80%;
}
.banner-child{
    width: 45%;
}
.button{
    padding: 10px;
    margin: 20px 15px 0 0;
    background: transparent;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(30, 29, 29, 0.51);

    border: 1px solid black;
    cursor: pointer;
}
.fifty-off{
    background-color: rgba(0, 0, 0, 0.566);
    color: rgba(255, 255, 255, 0.806);
    width: max-content;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 1.563rem;
    position: absolute;
    top: 45%;
    left: 15%;
}
/* most popular section  */
.main-div{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.card{
    box-shadow: 4px 4px 10px black;
    padding: 20px;
    border-radius: 15px;

}
#cart{
    color: #ffffff;
    background-color: green;
    padding: 12px;
    border-radius: 50%;
    margin-top: 10px;
}
/* this is the footer section */
.cart-1{
    color: white;
}

.footer-container{
    background-color: #081621;
    margin-top: 50px;
    color: white;
}
.footer-content{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 70px;
}
#icon{
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}
.first-foot{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 120px 15px 60px;
    border: 1px solid white;
    width: max-content;
    margin-top: 20px;
    border-radius: 50px;
}
.sec-foot{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 60px;
    border: 1px solid white;
    width: max-content;
    margin-top: 20px;
    border-radius: 50px;

}
.footer-container-first{
    width: max-content;
}
/* qna section start  */
.qna{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(26, 255, 0);
    display: flex;
    justify-content: space-between;
    background-color: #0816211e;
    box-shadow: 2px 2px 8px black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
}

.accessories{
    width: 100%;
    border-radius: 15px;
}
.input-sec{
    border: 1px solid rgb(43, 0, 255);
    width: 48%;
}




/* qna section end */






/* responsive for mobail  */
@media screen and (max-width:576px) {
        .icone{
            display: block;
        }
        .nav-bar{
            display: none;
        }
        .header-content{
            flex-direction: column;
        }
        .banner-child{
            width: 100%;
        }
        .fifty-off{
            top: 18%;
            left: 20%;
            font-size: 1.2rem;
        }
        .main-div{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        /* responsive footer */
        .footer-content{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 70px;
        }
        /*  the qna section start*/
        /* the qna section end  */
    
}
/* responsive for tablate  */
@media  screen and (min-width:577px) and (max-width:768px) {
    .nav-content{
        flex-direction: column;
    }
    .header-content{
        flex-direction: column;
    }
    .banner-child{
        width: 100%;
    }
    .nav-container{
        background-color: rgba(48, 48, 49, 0.829); 
        height: 130px;
        padding: 20px;
    }
    .main-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}